---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import { sortPostsByDate, slugify } from "@utils";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = sortPostsByDate(posts);

const totalPages = Math.ceil(sortedPosts.length / SITE.postPerPage);
const currentPage = 1;

const paginatedPosts = sortedPosts.slice(0, SITE.postPerPage);
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <main id="main-content">
    <h1>Posts</h1>
    <ul>
      {
        paginatedPosts.map(post => (
          <Card
            href={`/posts/${slugify(post)}/`}
            frontmatter={post.data}
          />
        ))
      }
    </ul>
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      prevUrl=""
      nextUrl={`/posts/page/2/`}
    />
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  ul {
    @apply list-none;
  }
</style>
