---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import { SITE } from "@config";
import { slugifyStr, slugify, sortPostsByDate } from "@utils";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const tils = await getCollection("tils", ({ data }) => !data.draft);
  const allPosts = [...posts, ...tils];

  const tags = [
    ...new Set(allPosts.flatMap(post => post.data.tags).map(tag => slugifyStr(tag))),
  ];

  return tags.map(tag => ({
    params: { tag },
    props: {
      tag,
      blogPosts: posts.filter(p => p.data.tags.some(t => slugifyStr(t) === tag)),
      tilPosts: tils.filter(t => t.data.tags.some(tt => slugifyStr(tt) === tag)),
    },
  }));
}) satisfies GetStaticPaths;

const { tag, blogPosts, tilPosts } = Astro.props;
const sortedBlogPosts = sortPostsByDate(blogPosts);
const sortedTilPosts = sortPostsByDate(tilPosts);
---

<Layout title={`Tag: ${tag} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <main id="main-content">
    <h1>Tag: <span class="tag-name">{tag}</span></h1>

    {
      sortedBlogPosts.length > 0 && (
        <>
          <h2>Posts</h2>
          <ul>
            {sortedBlogPosts.map(post => (
              <Card href={`/posts/${slugify(post)}/`} frontmatter={post.data} />
            ))}
          </ul>
        </>
      )
    }

    {
      sortedTilPosts.length > 0 && (
        <>
          <h2>TILs</h2>
          <ul>
            {sortedTilPosts.map(til => (
              <Card href={`/tils/${slugify(til)}/`} frontmatter={til.data} />
            ))}
          </ul>
        </>
      )
    }
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply mt-8 text-xl font-semibold;
  }
  .tag-name {
    @apply text-skin-accent;
  }
  ul {
    @apply list-none;
  }
</style>
